<div class="h-screen w-screen flex items-center justify-center">
    <div class="text-center p-6">
        <h2 class="text-3xl md:text-7xl">Contacto:</h2>
        <p class="text-lg md:text-3xl my-10 text-gray-400">franciscoanguiano2000@gmail.com</p>
        <div class="grid grid-cols-3 gap-3 justify-items-center place-content-center">
            <a href="https://twitter.com/franciscoangui1" target="_blank">
                <img class="h-10 md:h-20" src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt="">
            </a>
            <a href="https://www.instagram.com/anguianofco/" target="_blank">
                <img class="h-10 md:h-20" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/francisco-anguiano-morales-89221a203/" target="_blank">
                <img class="h-10 md:h-20" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt="">
            </a>
        </div>
    </div>
</div>