<div class="h-screen w-screen flex items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-0">
        <div class="grid justify-items-center place-content-center gap-4 content-center bg-white text-black p-3 md:p-6">
            <h2 class="text-center text-xl md:text-3xl">Este proyecto se realizó con PHP, TailwindCSS, MySQL y fue para un negocio de abarrotes.</h2>
            <img class="h-auto md:h-80 movimiento" src="assets/proyecto4.webp" alt="">
        </div>
        <div class="text-center text-3xl md:text-7xl grid content-center">
            <h2>Punto de</h2>
            <h2 class="flex justify-center items-stretch">
                <span class="self-center">
                    venta
                </span>
                <!-- <a href="https://www.asesorh.com/" target="_blank" class="border border-white rounded-full w-fit p-1 md:p-3 ml-3 self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 md:w-9 md:h-9">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                    </svg>              
                </a> -->
            </h2>
        </div>
    </div>
</div>
